
<style>
    .grid {
        width: 100%;
        height: 10%;
    }

    .ui-grid-viewport .ui-grid-cell-contents {
        word-wrap: break-word;
        white-space: normal !important;
    }

    .ui-grid-row, .ui-grid-cell {
        height: auto !important;
    }

        .ui-grid-row div[role=row] {
            display: flex;
            align-content: stretch;
        }

    .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        opacity: .80;
        filter: alpha(opacity=80);
    }

    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 60%;
        height: 50%;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
</style>
@*<div class="page-header">
        <h3>Thanks for participating ! <small>Help us identify issues with the keywords from the tweets. </small></h3>
    </div>*@
<br />

<div class="alert alert-info alert-dismissable" role="alert" style="background-color:#fed428">
    <h4 style="color:black"> Review the user tags and suggest changes.</h4>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">[Close]</span></button>
    <div class="row">
        <div class="col-lg-6">
            Steps:
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Select a tweet from the list</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> View the Extracted Keywords</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Review the tags suggested by users </li>
                <li class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Enter your suggestions in the grid below</li>
            </ul>
        </div>
        <div class="col-lg-5">
            Supported Tags:
            <ul class="list-group">
                <li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Misspelt</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Jargon</li>
                <li class="list-group-item"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Abbreviation </li>
            </ul>
        </div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-lg-4">
        <div ng-controller="MainCtrl">
            <div class="panel panel-info">
                <div class="panel-heading">Tweets</div>
                <div class="panel-body" style="padding:0px">
                    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8" ng-controller="KeywordsController">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Selected Tweet</div>
                    <div class="panel-body"> {{tweet.text}}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Extracted Keywords (Click a keyword to enter a suggestion)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <h6>From Tweet Text :</h6>
                        <div ng-repeat="item in data.fromText" style="display:inline-table;margin-right:4px">
                            <div class="btn-group">
                                <button id="keyword{{item.id}}" ng-click="DisplayText(item)" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{item.name}}
                                </button>
                            </div>
                            <br />
                            <div id="{{item.id}}" class="panel panel-danger" style="display:none;width:100%">
                                <div class="panel-body" ng-repeat="tag in keywordUserTagData">
                                    <ul class="nav nav-tabs" style="border:solid">
                                        <li role="presentation">
                                            <a href="#">
                                                <div style="display:inline-table"><span class="label label-default" style="background-color:{{tag.tagColor}}">{{tag.tagName}} <span ng-repeat="keyword in tag.tagInfo">({{keyword.tagUserCount}}\{{keyword.userCount}})</span></span></div>
                                            </a>
                                            <div class="input-group">
                                                <br />
                                                <textarea id="text{{item.id}}{{tag.tagId}}" type="text" class="form-control" placeholder="Enter suggestions" aria-describedby="basic-addon1"></textarea>
                                                <br />
                                                <br />
                                                <button type="button" ng-click="ViewSuggestions(item.id, tag.tagId)" class="btn btn-default btn-sm">View Suggestions</button>&nbsp;
                                                <button type="button" ng-click="SaveKeywordText(item.id, tag.tagId)" class="btn btn-default btn-sm">Save</button> &nbsp;
                                                <button type="button" ng-click="CancelKeywordText(item.id)" class="btn btn-default btn-sm">Close</button>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="row">
                    <div class="col-lg-12">
                        <h6> From Hashtags :</h6>
                        <div>
                            <div ng-repeat="item in data.fromHashtag" style="display:inline-table;margin-right:4px">
                                <div class="btn-group">
                                    <button id="keyword{{item.id}}" ng-click="DisplayText(item)" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{item.name}}
                                    </button>
                                </div>
                                <br />
                                <br />
                                <div id="{{item.id}}" class="panel panel-danger" style="display:none">
                                    <div class="panel-body">
                                        <div ng-repeat="tag in keywordUserTagData" style="display:inline-table"><span class="label label-default" style="background-color:{{tag.tagColor}}">{{tag.tagName}} <span ng-repeat="keyword in tag.tagInfo">({{keyword.tagUserCount}}\{{keyword.userCount}})</span></span></div>
                                        <div class="input-group">
                                            <br />
                                            <textarea id="text{{item.id}}" type="text" class="form-control" placeholder="Enter suggestions" aria-describedby="basic-addon1"></textarea>
                                            <br />
                                            <br />
                                            <button type="button" ng-click="ViewSuggestions(item.id)" class="btn btn-default btn-sm">View Suggestions</button>&nbsp;
                                            <button type="button" ng-click="SaveKeywordText(item.id)" class="btn btn-default btn-sm">Save</button> &nbsp;
                                            <button type="button" ng-click="CancelKeywordText(item.id)" class="btn btn-default btn-sm">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-lg-12">
                        <h6>From URL :</h6>
                        <div>
                            <div ng-repeat="item in data.fromURL" style="display:inline-table;margin-right:4px">
                                <div class="btn-group">
                                    <button id="keyword{{item.id}}" ng-click="DisplayText(item)" class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{item.name}}
                                    </button>
                                </div>
                                <br />
                                <div id="{{item.id}}" class="panel panel-danger" style="display:none;width:100%">
                                    <div class="panel-body" ng-repeat="tag in keywordUserTagData">
                                        <ul class="nav nav-tabs" style="border:solid">
                                            <li role="presentation" ><a href="#">
                                            <div  style="display:inline-table"><span class="label label-default" style="background-color:{{tag.tagColor}}">{{tag.tagName}} <span ng-repeat="keyword in tag.tagInfo">({{keyword.tagUserCount}}\{{keyword.userCount}})</span></span></div></a>
                                            <div class="input-group">
                                                <br />
                                                <textarea id="text{{item.id}}{{tag.tagId}}" type="text" class="form-control" placeholder="Enter suggestions" aria-describedby="basic-addon1"></textarea>
                                                <br />
                                                <br />
                                                <button type="button" ng-click="ViewSuggestions(item.id, tag.tagId)" class="btn btn-default btn-sm">View Suggestions</button>&nbsp;
                                                <button type="button" ng-click="SaveKeywordText(item.id, tag.tagId)" class="btn btn-default btn-sm">Save</button> &nbsp;
                                                <button type="button" ng-click="CancelKeywordText(item.id)" class="btn btn-default btn-sm">Close</button>
                                            </div>
                                            </li>
                                        </ul>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="modal fade" id="suggestionsPanel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Other Suggestions</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                           <div ng-repeat="item in suggestions" style="display:normal">
                                               {{item}} <br />
                                           </div>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div>
                <button type="button" class="btn btn-primary btn-lg" aria-expanded="false" style="left:50%;" ng-click="PostChanges()">Save</button>
            </div>*@
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-12" ng-controller="AnalyticsController">
        <div class="panel panel-warning">
            <div class="panel-heading">Tag Response Analytics</div>
            <div class="panel-body" style="padding:0px">
                <br />
                <div class="row">
                    <div class="col-lg-3" ng-repeat="item in data">
                        <div class="list-group">
                            <a href="#" class="list-group-item active">
                                Possible {{item.tagName}}
                            </a>
                            <a href="#" class="list-group-item" ng-repeat="keyword in item.tagInfo">{{keyword.keywordName}} ({{keyword.tagUserCount}} out of {{keyword.userCount}} users)</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-warning" ng-controller="GridController">
            <div style="float:right;"><span ng-repeat="item in keywordUserTagData"> Possible {{item.tagName}} : <span ng-repeat="keyword in item.tagInfo">{{keyword.keywordName}} ({{keyword.tagUserCount}} out of {{keyword.userCount}} users)</span></span></div>
            <div class="panel-heading">
                Suggest Changes to tagged keywords (fill out and hit Save)<div>
                    <div class="panel-body" style="padding:0px">
                        <div ui-grid="gridOptions" ui-grid-selection ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid"></div>
                        <div>
                            <button type="button" class="btn btn-primary btn-lg" aria-expanded="false" style="left:50%;" ng-click="PostChanges()">Save</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>*@
